{% extends "contacts/base_pdf.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE2 %}

{% block title %}Justificante de pago{% endblock %}

{% block content_title %}
    Justificante de pago
{% endblock %}

{% block content %}
<br/>
<br/>
    <p>
Hemos recibido de <b>{{ object.first_name }} {{ object.last_name }}</b>, con DNI <b>{{ object.id_card }}</b>, la cantidad de {{ object.paid }} € en concepto de cuota de matrícula de los siguientes cursos de formación a distancia organizados por la FESPM:
    <ul>
    {% for course in object.courses.all %}
        <li>{{ course.title }}</li>
    {% endfor %}
    </ul>
</p>
<br/>
<p>
<i>{{ avui }}</i>
</p>

<table border="0" width="100%" align="center">
        <tr class="header-row">
        <td>
	       <b>Agustín Carrillo de Albornoz Torres</b><br/>
	       <i>Secretario General de la FESPM</i>
       </td>
	</tr>
</table>

{% endblock %}

